export(simulatetwin)
export(IRTtwin)
export(geplot)
export(plotbayestwin)
export(HPD)
S3method(summary, bayestwin)
import(foreign)
import(rjags)
import(stats)
import(coda)
import(graphics)
import(matrixStats)
